@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&family=Raleway:wght@400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  h1 {
    @apply text-2xl font-heading font-extrabold leading-7 my-8;
  }

  body {
    @apply text-gray-900;
  }

  p {
    @apply my-4;
  }

  img {
    @apply my-4;
  }

  h2 {
    @apply my-6 text-xl font-heading font-bold leading-6;
  }

  a {
    @apply text-blue-600;
  }

  ul {
    @apply list-inside;
    margin-left: 1rem;
    text-indent: -1rem;
  }

  ul li {
    @apply m-2;
  }

  ul li::before {
    content: '👉';
    @apply mx-2 inline-block text-left;
  }

  ol {
    @apply list-decimal mx-3;
  }
}
